@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');
@font-face {
    font-family: 'Antique Olive Nord';
    src: local('Antique Olive Nord'), url('../media/fonts/ChangaOne-Italic.ttf'), format('truetype');
}

@font-face {
    font-family: 'Digital';
    src: local('Digital'), url('../media/fonts/digital-7.ttf'), format('truetype');
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

main {
    /*background: url(../media/images/background.webp) center / cover no-repeat;*/
    height: 100vh;
    overflow: hidden;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    position: absolute;
    top: 1em;
    font-family: 'Antique Olive Nord';
    color: #F4F3F3;
    font-size: 4em;
}

.game-content {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.6);
    display: none;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}

input {
    height: 3em;
    border-radius: 5em;
    background: url(../media/images/input-background.webp) center / cover ;
    text-align: center;
    font-family: 'Antique Olive Nord';
    color: #F4F3F3;
    font-size: 21px;
    margin-top: 2em;
    transition: 0.3s;
}

.restart-button {
    cursor: pointer;
    position: absolute;
    top: 2em;
    left: 1em;
    font-family: 'Antique Olive Nord';
    height: 3em;
    width: 7em;
}

.words-output {
    margin-top: 3em;
}

.word {
    background: url(../media/images/word-background.jpeg) center;
    width: 10em;
    height: 5em;
    border-radius: 2em;
    display: grid;
    place-items: center;
    font-family: 'Antique Olive Nord';
    color: #F4F3F3;
    font-size: 3em;
    border: 2px solid;
    transition: 0.3s;
}

.timer-div {
    background: url(../media/images/lever-gear.webp) center / cover no-repeat;
    width: 12em;
    height: 12em;
    position: absolute;
    transform: translateY(-65%);
    top: 50%;
    left: 2em;
    display: grid;
    place-items: center;
}

.timer {
    background-color: #1D1D1D;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    font-family: 'Antique Olive Nord';
    display: grid;
    place-items: center;
    color: #F4F3F3;
    font-size: 3em;
}

.car {
    position: absolute;
    transform: translateY(-65%);
    top: 50%;
    left: -5em;
    width: 20em;
}

.shadow {
    box-shadow: 0 0 1em 0.1em;
}

.green-shadow {
    box-shadow: 0 0 1em 0.1em rgb(17, 230, 17);
}

.buildings {
    display: flex;
    justify-content: center;
    align-items: end;
}

.towers {
    position: absolute;
    bottom: -4em;
}

.tower1 {
    right: 1px;
}

.tower2 {
    left: 1px;
}

.score-div {
    position: absolute;
    transform: translateY(-65%);
    top: 50%;
    right: -3em;
    width: 25em;
    height: 10em;
    display: grid;
    place-items: center;
}

.score-div img {
    width: 22em;
    height: 12em;
}

.score-text {
    font-family: Digital, sans-serif;
    color: #F4F3F3;
    font-size: 4em;
    position: absolute;
    top: 1.15em;
    left: 2.95em;
}

/*---------- Start Modal -------------*/
.start-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.modal {
    width: 50%;
    height: 60%;
    background: url(../media/images/metal-ground.jpg);
    display: grid;
    place-items: center;
    border-radius: 2em;
}

.start-btn {
    cursor: pointer;
    font-family: 'Antique Olive Nord';
    height: 3em;
    width: 8em;
    background-color: #000;
    color: #F4F3F3;
    font-size: 1.2em;
}

.modal h2 {
    font-family: 'Antique Olive Nord';
    font-size: 2em;

}

span {
    background-color: #1D1D1D;
    color: #F4F3F3;
    padding: 0.25em;
    font-family: 'Antique Olive Nord';
    font-size: 1.5em;
}

.modal p {
    font-family: Rubik, sans-serif;
    font-weight: 700;
    padding: 1em 4em;
    width: 85%;
    color: #F4F3F3;
    text-align: center;
    background-color: rgb(0 0 0 / 0.6);
    line-height: 1.7;
}

.end-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    place-items: center;
}

.final-modal {
    width: 30%;
    height: 70%;
    background: url(../media/images/metal-ground.jpg);
    display: grid;
    place-items: center;
    border-radius: 2em;
}

.final-modal h2 {
    cursor: pointer;
    font-family: 'Antique Olive Nord';
    height: 3em;
    width: 8em;
    background-color: #000;
    color: #F4F3F3;
    font-size: 2.5em;
    display: grid;
    place-items: center;
}

.final-modal p {
    font-family: Rubik, sans-serif;
    font-weight: 700;
    padding: 1em 3em;
    line-height: 2;
    width: 85%;
    color: #F4F3F3;
    text-align: left;
    background-color: rgb(0 0 0 / 0.6);
}

.restart-button-final {
    cursor: pointer;
    font-family: 'Antique Olive Nord';
    height: 3em;
    width: 8em;
    background-color: #F4F3F3;
    color: #000;
    font-size: 1.2em;
}