@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');
@font-face {
    font-family: 'Antique Olive Nord';
    src: local('Antique Olive Nord'), url('../media/fonts/ChangaOne-Italic.ttf'), format('truetype');
}

@font-face {
    font-family: 'Digital';
    src: local('Digital'), url('../media/fonts/digital-7.ttf'), format('truetype');
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

main {
    height: 100vh;
    overflow: hidden;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    position: absolute;
    top: 1em;
    font-family: 'Antique Olive Nord';
    color: #F4F3F3;
    font-size: 4em;
}

.game-content {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.6);
    display: block;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}

input {
    height: 3em;
    border-radius: 5em;
    background: url(../media/images/input-background.webp) center / cover ;
    text-align: center;
    font-family: 'Antique Olive Nord';
    color: #F4F3F3;
    font-size: 21px;
    margin-top: 2em;
    transition: 0.3s;
}

.restart-button {
    cursor: pointer;
    position: absolute;
    top: 2em;
    left: 1em;
    font-family: 'Antique Olive Nord';
    height: 2.5em;
    width: 6em;
    font-size: 1.2em;
}

.restart-button span:first-child {
    display: block;
}

.restart-button span:last-child {
    display: none;
}

.words-output {
    margin-top: 3em;
}

.word {
    background: url(../media/images/word-background.jpeg) center;
    width: 10em;
    height: 5em;
    border-radius: 2em;
    display: grid;
    place-items: center;
    font-family: 'Antique Olive Nord';
    color: #F4F3F3;
    font-size: 3em;
    border: 2px solid;
    transition: 0.3s;
}

.timer-div {
    background: url(../media/images/lever-gear.webp) center / cover no-repeat;
    width: 12em;
    height: 12em;
    position: absolute;
    transform: translateY(-65%);
    top: 50%;
    left: 2em;
    display: grid;
    place-items: center;
}

.timer {
    background-color: #1D1D1D;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    font-family: 'Antique Olive Nord';
    display: grid;
    place-items: center;
    color: #F4F3F3;
    font-size: 3em;
}

.car {
    position: absolute;
    transform: translateY(-65%);
    top: 50%;
    left: -5em;
    width: 20em;
}

.shadow {
    box-shadow: 0 0 1em 0.1em;
}

.green-shadow {
    box-shadow: 0 0 1em 0.1em rgb(17, 230, 17);
}

.buildings {
    display: flex;
    justify-content: center;
    align-items: end;
}

.towers {
    position: absolute;
    bottom: -4em;
}

.tower1 {
    right: 1px;
}

.tower2 {
    left: 1px;
}

.score-div {
    position: absolute;
    transform: translateY(-65%);
    top: 50%;
    right: -3em;
    width: 25em;
    height: 10em;
    display: grid;
    place-items: center;
}

.score-div img {
    width: 22em;
    height: 12em;
}

.score-text {
    font-family: Digital, sans-serif;
    color: #F4F3F3;
    font-size: 4em;
    position: absolute;
    top: 1.15em;
    left: 2.95em;
}

/*---------- Start Modal -------------*/
.start-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    place-items: center;
}

.modal {
    width: 50%;
    height: 65%;
    background: url(../media/images/metal-ground.jpg);
    display: grid;
    place-items: center;
    border-radius: 2em;
}

.start-btn {
    cursor: pointer;
    font-family: 'Antique Olive Nord';
    height: 3em;
    width: 8em;
    background-color: #000;
    color: #F4F3F3;
    font-size: 1.2em;
}

.modal h2 {
    font-family: 'Antique Olive Nord';
    font-size: 2.5em;
    margin-top: 0.5em;
}

h2 span {
    background-color: #000; 
    color: #ffff14;
    padding: 0.25em;
    font-family: 'Antique Olive Nord';
    font-size: 1.3em;
}

.modal p {
    font-family: Rubik, sans-serif;
    font-weight: 700;
    padding: 1em 1.5em;
    width: 85%;
    color: #F4F3F3;
    text-align: center;
    background-color: rgb(0 0 0 / 0.6);
    line-height: 1.7;
    font-size: 1.3em;
}

.end-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    place-items: center;
}

.final-modal {
    width: 35%;
    height: 80%;
    background: url(../media/images/metal-ground.jpg);
    display: grid;
    place-items: center;
    border-radius: 2em;
}

.final-modal h2 {
    cursor: pointer;
    font-family: 'Antique Olive Nord';
    height: 2em;
    width: 6em;
    background-color: #000;
    color: #F4F3F3;
    font-size: 2.5em;
    display: grid;
    place-items: center;
}

.final-modal ul {
    list-style: none;
    width: 95%;
    background-color: rgb(0 0 0 / 0.6);
    padding: 1em;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.final-modal li {
    display: flex;
    justify-content: space-between;
    font-size: 1.8em;
    font-family: 'Antique Olive Nord';
    margin-bottom: 1em;
}

.final-modal li span {
    font-size: 1.2em;
    font-family: 'Antique Olive Nord';
}

.final-modal li span:nth-child(1) {width: 40%;}
.final-modal li span:nth-child(2) {width: 20%;}
.final-modal li:nth-child(2) span:nth-child(1) {padding-right: 10px; font-size: 1em;}
.final-modal li span:nth-child(3) {width: 40%;}

.restart-button-final {
    cursor: pointer;
    font-family: 'Antique Olive Nord';
    height: 3em;
    width: 8em;
    background-color: #F4F3F3;
    color: #000;
    font-size: 1.1em;
    border: 2.5px solid #000;
}

.final-score {
    position: fixed;
    right: 0;
    height: 100%;
    width: 28%;
    background: url(../media/images/final-score.png) center / cover no-repeat;
    display: block;
}

.final-score h2 {
    font-family: 'Antique Olive Nord';
    color: #F4F3F3;
    font-size: 2.3em;
    margin-top: 0.8em;
    margin-left: 0.8em;
}

.score-list {
    list-style: none;
    width: 95%;
    padding: 1em;
    color: #fff;
    justify-content: start;
    position: relative;
    margin-top: 1.5em;
    margin-left: 0.8em;
}

.close-btn {
    background-color: #F4F3F3;
    width: 2.8em;
    height: 2.8em;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 2.2em;
    right: 1.7em;
    font-size: 0.9em;
}

.score-list li {
    font-size: 1.5em;
    margin-bottom: 1em;
    display: flex;
    font-family: 'Antique Olive Nord';
    justify-content: space-between;
}

.score-list li span:nth-child(1) { width: 10%;}
.score-list li span:nth-child(2) { width: 60%; text-align: center;}
.score-list li span:nth-child(3) { width: 30%; text-align: right;}

.show-score-btn {
    background-color: #F4F3F3;
    width: 3.5em;
    height: 3.5em;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 8em; 
    left: 3.8em;
    font-size: 0.9em;
}